<head>
    <a class="instaLink" href="https://www.instagram.com/gldnsemijoias/" style="position: absolute; margin-left: calc(100% - 190px); margin-top: -235px">GLDNSEMIJOIAS<img src="/assets/Instagram.png" style="height: 20px; position:absolute; margin-top: 0px; margin-left:calc(100% - 280px)"/> </a>
    <a href="/"><img src="/assets/logo.png" style="height: 80px; position:absolute ; top: 5vh; margin-left: calc(50% - 80px)"></a>
    <li class="option" style="margin-left: calc(50% - 220px)">Brincos</a>
        <div class="dropdown">
            <a class="link" href="<%=products_brincos_prata_path%>">Prata 925</a>
            <a class="link" href="<%=products_brincos_ouro_path%>" style="margin-top: 200px">Ouro</a>
        </div>
    </li>
    <li class="option" style="margin-left: calc(50% - 80px)">Aneis</a>
        <div class="dropdown">
            <a class="link" href="<%=products_aneis_prata_path%>">Prata 925</a>
            <a class="link" href="<%=products_aneis_ouro_path%>" style="margin-top: 200px">Ouro</a>
        </div>
    </li>
    <li class="option" style="margin-left: calc(50% + 20px)">Coleções</a>
        <div class="dropdown">
            <a class="link" href="#">Prata 925</a>
            <a class="link" href="#" style="margin-top: 200px">Ouro</a>
        </div>
    </li>
        <li class="option" style="margin-left: calc(50% + 170px)"><a style="text-decoration: none; color: #83919C" href="#">Sale</a>
    </li>

    <a class="tab" href="/">
        <img src="/assets/Home.png" style="height:20px; margin-left:5px; margin-top:5px">
    </a>
</head>
<body>
    <% @products.each do |product| %>
        <ul>
        <%if product.acessorio == "Anel" and product.material == "Ouro"%>
            <%= render 'formatGold', product: product %>
        <%end%>
        </ul>
    <%end%>
</body>
<footer>
    <div class="line" style="margin-top: 150px">
        <h1 class="tag" style="width:750px; margin-left:calc(50% - 325px); border-bottom: 200px solid #EBEAEB">Siga nosso instagram <a class="insta" href="https://www.instagram.com/gldnsemijoias/">@GLDNSEMIJOIAS</a></h1> 
    </div>
</footer>