<head>
    <a class="instaLink" href="https://www.instagram.com/gldnsemijoias/" style="position: absolute; margin-left: calc(100% - 190px); margin-top: -235px">GLDNSEMIJOIAS<img src="/assets/Instagram.png" style="height: 20px; position:absolute; margin-top: 0px; margin-left:calc(100% - 280px)"/> </a>
    <a href="/"><img src="/assets/logo.png" style="height: 80px; position:absolute ; top: 5vh; margin-left: calc(50% - 80px)"></a>
    <li class="option" style="margin-left: calc(50% - 220px)">Brincos</a>
        <div class="dropdown">
            <a class="link" href="<%=products_brincos_prata_path%>">Prata 925</a>
            <a class="link" href="<%=products_brincos_ouro_path%>" style="margin-top: 200px">Ouro</a>
        </div>
    </li>
    <li class="option" style="margin-left: calc(50% - 80px)">Aneis</a>
        <div class="dropdown">
            <a class="link" href="<%=products_aneis_prata_path%>">Prata 925</a>
            <a class="link" href="<%=products_aneis_ouro_path%>" style="margin-top: 200px">Ouro</a>
        </div>
    </li>
    <li class="option" style="margin-left: calc(50% + 20px)">Coleções</a>
        <div class="dropdown">
            <a class="link" href="#">Prata 925</a>
            <a class="link" href="#" style="margin-top: 200px">Ouro</a>
        </div>
    </li>
        <li class="option" style="margin-left: calc(50% + 170px)"><a style="text-decoration: none; color: #83919C" href="#">Sale</a>
    </li>

    <a class="tab" href="/">
        <img src="/assets/Home.png" style="height:20px; margin-left:5px; margin-top:5px">
    </a>
</head>

<h1>Products</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Tipo</th>
      <th>Material</th>
      <th>Preco</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.nome %></td>
        <td><%= product.acessorio %></td>
        <td><%= product.material %></td>
        <td><%= product.price%></td>
        <td><%= link_to 'Visualizar', product_path(product) %></td>
        <td><%= link_to 'Editar', edit_product_path(product)%></td>
        <td><%= button_to "Remover", product, :method => :delete, :class => "submitBtn"%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Product', new_product_path %>

<footer>
    <div class="line" style="margin-top: 150px">
        <h1 class="tag" style="width:750px; margin-left:calc(50% - 325px); border-bottom: 200px solid #EBEAEB">Siga nosso instagram <a class="insta" href="https://www.instagram.com/gldnsemijoias/">@GLDNSEMIJOIAS</a></h1> 
    </div>
</footer>
