<head>
    <a class="instaLink" href="https://www.instagram.com/gldnsemijoias/" style="position: absolute; margin-left: calc(100% - 190px); margin-top: -235px">GLDNSEMIJOIAS<img src="/assets/Instagram.png" style="height: 20px; position:absolute; margin-top: 0px; margin-left:calc(100% - 280px)"/> </a>
    <a href="/"><img src="/assets/logo.png" style="height: 80px; position:absolute ; top: 5vh; margin-left: calc(50% - 80px)"></a>
    <li class="option" style="margin-left: calc(50% - 220px)">Brincos</a>
        <div class="dropdown">
            <a class="link" href="<%=products_brincos_prata_path%>">Prata 925</a>
            <a class="link" href="<%=products_brincos_ouro_path%>" style="margin-top: 200px">Ouro</a>
        </div>
    </li>
    <li class="option" style="margin-left: calc(50% - 80px)">Aneis</a>
        <div class="dropdown">
            <a class="link" href="<%=products_aneis_prata_path%>">Prata 925</a>
            <a class="link" href="<%=products_aneis_ouro_path%>" style="margin-top: 200px">Ouro</a>
        </div>
    </li>
    <li class="option" style="margin-left: calc(50% + 20px)">Coleções</a>
        <div class="dropdown">
            <a class="link" href="#">Prata 925</a>
            <a class="link" href="#" style="margin-top: 200px">Ouro</a>
        </div>
    </li>
        <li class="option" style="margin-left: calc(50% + 170px)"><a style="text-decoration: none; color: #83919C" href="#">Sale</a>
    </li>

    <a class="tab" href="/">
        <img src="/assets/Home.png" style="height:20px; margin-left:5px; margin-top:5px">
    </a>
</head>

<body>
  <%= image_tag url_for(@product.icon), class: "showImage"%>
  <h1><%=@product.nome%></h1>
  <h2>Preço: <%=@product.price%></h2>
  <h2>Material: <%=@product.material%></h2>
  <h2>Descrição:</h2>
  <div class="text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</div>
</body>
<footer>
    <div class="line" style="margin-top: 300px">
        <h1 class="tag" style="width:750px; margin-left:calc(50% - 325px); border-bottom: 200px solid #EBEAEB">Siga nosso instagram <a class="insta" href="https://www.instagram.com/gldnsemijoias/">@GLDNSEMIJOIAS</a></h1> 
    </div>
</footer>
