<p>
  <strong>Name:</strong>
  <%= @product.nome %>
</p>

<p>
  <strong>Type:</strong>
  <%= @product.acessorio %>
</p>

<p>
  <strong>Material:</strong>
  <%= @product.material %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
